################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinimalApi/.vs/MinimalApi
/MinimalApi/obj
/MinimalApi/bin/Debug/net6.0
/.vs/MinimalApi/v17
