################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinimalApi/.vs/MinimalApi
/MinimalApi/obj
